* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 5% 8%;
}
.intro-div {
	width: 33%;
}


.intro-header{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 0% 15%;
	margin-bottom: 5%;
	color: purple;
}

.intro-text{
	color: 	gray;
	width: 60vh;
}


.review-boxes{
	width: 100%;
	text-align: center;
	margin: 10% 0%;
	justify-content: center;
}

.intro-review {
	justify-content: space-between;
	margin: 0% 5% 0% 5% ;
	padding-bottom: 5vh;
}

.customer-cards{
	background-color: rgb(72, 4, 72);
	border-radius: 10px;
	color:  white;
	margin-bottom: 5%;
	padding: 5%;
	width: 100%;
	font-size: 13px;
	line-height: 1.5;
}


.customer-header{
	display: flex;
	align-items: center;
	margin-bottom: 10%;
}

.customer-header>img{
	border-radius: 50%;
	width: 15%;
	margin-right: 10%;
}

.customer-header>h1{
	font-size: 18px;
	font-weight: bold;
}

.customer-header>h1>span{
	color: pink;
}
	

	.intro-review{
		display: block;
		display: flex;
		margin-bottom: 2%;
	}

	

	.intro-header{
		font-size: 3.5rem	;
		padding: 0%;
	}

	.intro-text{
		font-size: 18px;
		line-height: 2rem;
	}



/* Review Boxes */

	.review-boxes{
		width: 50%;
		margin: 0;
		padding-bottom: 0%;
		display: flex;
		flex-direction: column;
	}

	.boxes{
		padding: 0;
		width: 85%;
		height: 18%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		margin-top: 4%;
		background-color: rgb(244, 229, 244);

	}
	
	.icon-star{
		width: 40%;
		display: inline-block;
	}

	.icon-star>img{
		width: 8%;
		margin-left: 5%;
	}

	.boxes>p{
		margin-left: 5%;
		font-size: 15px;
		font-family: sans-serif;
		color: purple;
		font-weight: bolder;
	}


	.boxes:first-child{
		margin-top: 0;
	}

	.boxes:nth-child(2){
		align-self: center;
	}

	.boxes:nth-child(3
		){
		align-self: flex-end;
	}
	


	/* Customers Boxes */

	.customer-review-box {
		display: flex;
		justify-content: space-between;
		margin: 0% 5% 0% 5%;
	 }
	 
	 .customer-cards {
		font-family: sans-serif;
		width: 32%;
		padding: 3% 3%;
		height: 10%;
		box-sizing: border-box; /* Đảm bảo chiều cao không bao gồm padding */
	 }
	 
	 .customer-cards:first-child {
		margin-top: 0;
	 }
	 
	 .customer-cards:nth-child(2) {
		margin-top: 30px; 
	 }
	 
	 .customer-cards:nth-child(3) {
		margin-top: 60px; 
	 }
	 
	 .customer-cards > p {
		font-size: 1.1em;
	 }
	 
	 @media screen and (max-width: 480px) {
		* {
			text-align: center;
		}
		body {
			margin: 0;
			padding: 15% 0;
		}
		.intro-review {
			max-width: 100%;
			display: flex;
			flex-direction: column;
		}
		.intro-div {
			width: 100%;
		}
		.intro-div h1 {
			font-size: 35px;
			font-weight: bold;
			font-family: sans-serif;
		}
		.intro-div .intro-text {
			width: 100%;
		}

		.review-boxes {
			margin-top: 20px;
			width: 100%;
		}
		.icon-star img {
			width: 15px;
			margin-bottom: 5px;
		}
		.boxes {
			padding: 10px;
			width: 100%;
			flex-direction: column;
		}

		.customer-review-box {
			flex-direction: column;
		}
		.customer-cards {
			margin-top: 0px;
			margin-bottom: 0px;
			width: 100%;
			padding: 25px 30px;
		}
		.customer-header {
			margin-bottom: 5px;		
		}
		.customer-cards p {
			text-align: left;
		}
		.customer-cards:nth-child(2) {
			margin-top: 20px; 
		 }
		 
		 .customer-cards:nth-child(3) {
			margin-top: 20px; 
		 }
		 .intro-review {
			padding-bottom: 20px;
		 }
		

	}

