* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    padding: 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    color: gray;
}

.content ul {
    list-style: none;
    display: flex;
}

.content li {
    margin-left: 35px;
}

.body-content {
    display: flex;
    flex-wrap: wrap;
}

.body-content .main {
    width: 60%;
    margin-right: 5%;
}

.body-content .main img {
    width: 100%;
    height: auto;
}

.body-content .aside {
    width: 35%;
    color: white;
    padding: 20px;
    background-color: rgb(11, 1, 41);
}

.main-content {
    display: flex;    
    padding-top: 50px;
}

.main-content .content-title {
    width: 220vh;
    font-size: 28px;
    margin-bottom: 20px;
}

.main-content .content {
    margin-left: 20px;
    font-size: 16px;
    color: gray;
    line-height: 1.5;
}

.btn input {
    margin-top: 20px;
    letter-spacing: 5px;
    background-color: orange;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.aside .content {
    margin-top: 20px;
    line-height: 1.8;
}

.aside .content p {
    margin: 10px 0;
    color: gray;
}
.aside .title h1 {
    font-size: 45px;
    margin: 10px 0;
    color: orange
}

.aside .content strong {
    font-size: 25px;
}

.foot-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot-content .card {
    flex-basis: 30%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.foot-content .card img {
    width: 100%;
    height: auto;
}

.foot-content .card .content {
    margin-left: 20px;
}

.foot-content .card h1 {
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}

.foot-content .card h3 {
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}

