.body {
  margin: 0 auto;
  background-image: url(./images/bg-desktop-light.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overall {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/*Top div*/
.top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-container {
  display: none;
}

.top-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 390px;
  width: 100%;
  max-width: 574px;
  margin-bottom: 55px;
}

.todo {
  margin: 0;
  color: white;
  letter-spacing: 10px;
  font-size: 40px;
  max-width: 158px;
  width: 100%;
}

.icon {
  max-width: 560px;
  width: 100%;
}

.night-icon:hover {
  cursor: pointer;
}

.sun-icon:hover {
  cursor: pointer;
}

.light-container {
  display: none;
}

.search-container {
  max-width: 534px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.todo-list {
  padding: 0;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: black;
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: rgb(133, 57, 205);
  border-radius: 50%;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#page-search {
  max-height: 30px;
  max-width: 485px;
  outline: none;
  width: 100%;
  font-size: 22px;
  margin-left: 12px;
  border: 0;
}

.search-name {
  font-size: 20px;
  font-weight: bold;
}

.status-mobile {
  display: none;
}

/*Main div*/
.main-div {
  max-width: 574px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 12px 34px -15px black;
  margin-top: 40px;
}

.overall-list {
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.menu-container input {
  width: 25px;
  height: 25px;
  margin-right: 10px;

}

.menu-container input:hover {
  cursor: pointer;
}

.menu-container {
  vertical-align: middle;
}

.checkmark {
  height: 25px;
  width: 25px;
}

.checkmark:hover {
  cursor: pointer;
}

.small-info {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  color: gray;
  margin-bottom: 10px;
}

.status {
  font-weight: bold;
  word-spacing: 15px;
}

.all:hover, .active:hover, .completed:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.menu-container input:checked ~ .checkmark {
  text-decoration: line-through;
  color: gray;
}

@media screen and (max-width: 376px) {
  .body {
    background-image: url(./images/bg-mobile-light.jpg);
    position: relative;
  }

  .overall {
    max-width: 375px;
    margin-top: 0;
  }

  .background-container {
    display: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .top-div {
    z-index: 1;
  }

  .top-icon-container {
    max-width: 360px;
    gap: 155px;
    margin-bottom: 28px;
    margin-top: 40px;
  }

  .search-container {
    max-width: 320px;
  }

  .main-div {
    max-width: 360px;
  }

  .menu-container {
    padding-left: 22px;
  }

  .checkmark {
    font-size: 20px;
  }

  .status {
    display: none;
  }

  .status-mobile {
    display: flex;
    justify-content: space-around;
    color: gray;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 12px 34px -15px black;
  }
}